* --- Para não interferir no bootstrap --- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== NAVBAR ===== */

.navbar {
    padding: 0;
    margin: 0 ;
}

.nav_tamanho {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    background-color: rgb(255, 255, 255);

}

.nav_topo {
    width: 100%;
    padding: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.nav-item {
    margin-left: 1rem;
    font-size: 1rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

.hr_eventos {
    width: 95%;
    height: 1px;
    background-color: #6c718f;
    border: none;
    margin: 2.5% auto;
}

.redes_sociais {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 16px;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;

}

.redes_sociais_itens {
    margin-right: 5px;
}

.redes_sociais_itens:hover {
    opacity: 0.6;
}

/* ===== BANNER ===== */

.banner-wrapper {
    position: relative;
    overflow: hidden;
}

.banner-img {
    display: block;
    width: 100%;
    height: 100vh;
    /* tela cheia no desktop */
    object-fit: cover;
}

.conteudo-banner {
    position: absolute;
    top: 70%;
    left: 6%;
    max-width: 90%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    font-size: larger;
    text-align: center;
}

.conteudo-banner h3 {
    width: 100%;
    font-size: clamp(3rem, 6vw, 4rem);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;

}

.accordion {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.accordion-body {
    height: 140px;
    overflow: auto;
}

/* ===== Carrosel ====== */

#linha-nexgard {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

}

.carrosel-conteudo {
    width: 100%;
    display: flex;
    min-height: 550px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 3rem 3rem;
    gap: 0.6rem;
}

.carrosel-conteudo a {
    background-color: #262c65;
    border-radius: 2rem;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.carrosel-conteudo p {
    text-align: center;
}

.botao-carousel {
    width: 55px;
    height: 55px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.5);
    /* Cinza transparente */
    transition: 0.3s;
}

.botao-carousel:hover {
    background-color: rgba(128, 128, 128, 0.8);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    /* Ícones brancos */
}

/* Indicadores do carrossel */
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #262c65;
    /* Azul */
    background-color: transparent;
    /* Rosquinha */
    opacity: 1;
    margin: 0 6px;
    transition: all 0.3s ease;
}

#carouselProdutos .carousel-indicators {
    bottom: -48px;
}

/* Indicador ativo */
.carousel-indicators .active {
    background-color: #262c65;
    /* Bolinha azul */
    border-color: #262c65;
}

/* ===== Video ===== */

.video {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    line-height: 1.2;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.video img {
    max-width: 800px;
    width: 100%;
}

.video h2 {
    width: 80vw;
    font-size: 32px;
    font-weight: 600;
}

.video p {
    width: 80vw;
}

.video a {
    background-color: #262c65;
    border-radius: 2rem;
    width: 80vw;
    color: white;
    text-decoration: none;
    padding: 12px 0;
    font-weight: 700;
}

/* ==== Comentarios ==== */
.comentarios {
    position: relative;
    width: 80%;
    max-width: 700px;
    min-height: 320px;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aspas-svg {
    position: absolute;
    top: 1rem;
    left: -20px;
    width: 5rem;
}

.aspas-svg-invertida {
    position: absolute;
    right: -20px;
    bottom: -15px;
    width: 5rem;
    transform: scaleX(-1);
}

.comentarios h4 {
    text-align: center;
    font-size: 1.32rem;
    line-height: 1.5;
    font-weight: 600;
    margin: 0 80px;
}

.texto-comentario {
    position: relative;
    padding: 70px 0px;
}

.pessoas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.pessoas h6 {
    font-weight: 100;
    opacity: 0.8;
}

/* ==== Parte de navegação do carrosel ==== */
/* Esconde os indicadores do Bootstrap */
#carouselComentarios .carousel-indicators {
    display: none;
}

#carouselComentarios{
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    min-height: 520px;
    overflow:visible;
}

.carousel-inner{
    padding-bottom: 90px;
}

/* Navegação */
.comentarios-navegacao{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    width:80%;
    max-width:700px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:10;
}

/* Bolinhas */
.comentarios-indicadores {
    display: flex;
    gap: 12px;
}

.comentarios-indicadores button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #007dba;
    background: white;
    transition: .3s;
}

.comentarios-indicadores button.active {
    background: #007dba;

}

/* Setas */
.comentarios-setas {
    display: flex;
    gap: 15px;
}

.seta {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background: #007dba;
    color: white;
    font-size: 22px;
    font-weight: bold;
    transition: .3s;
}

.seta:hover {
    background: #4a55b5;
}

/* ===== Onde Comprar ===== */
.onde-comprar{
    width: 80%;
    height: 520px;
    background-color: #0144a7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px 20px;
    color: white;
}

.onde-comprar h2{
    font-size: 2.8rem;
    text-align: center;
    margin: 16px
}


.caixa{
    margin: 32px 0 32px 0 ;
    padding: 25px 25px;
    background-color: #fff;
    color: black; 
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.caixa h3{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.caixa input{
    border-radius: 4px;
    width: 100%;
}

/* ==== Logo e redes sociais ==== */
.final{
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
}

/* ==== rodape ==== */
.footer-top{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa01{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.caixa01 img{
    width: 180px;      /* ajuste conforme preferir */
    max-width: 100%;
    height: auto;
}

.caixa02,
.caixa03,
.caixa04{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 25px;
}

.caixa02 h4,
.caixa03 h4,
.caixa04 h4{
    font-size: 1.5rem;
    font-weight: bold;
}

.caixa02 a,
.caixa03 a,
.caixa04 a{
    text-decoration: none;
    color: #333;
}

.caixa02 a:hover,
.caixa03 a:hover,
.caixa04 a:hover{
    color: #007dba;
}

/* ==== Rodape 'nao caia em golpes' ==== */
.footer-bottom{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ===== Parte da Responsividade ===== */
@media (min-width: 992px) {
    /* ==== navegação ===== */ 
    .nav_topo {
        box-shadow: none;
        justify-content: flex-end;
    }

    .nav_tamanho{
        justify-content: space-between;
    }


    .banner-img {
        height: 75vh;
        /* mais compacto no mobile */
    }
}
